<div id="post_list" class="border">

<h1>Listing all posts</h1>

<% if @posts.count.zero? %>
	<p>
		No posts are present. You may create one by clicking the link.
	</p>
<% else %>

	<%= paginate @posts %>
		<table id="news_list">
		  <tr>
		    <th>Title</th>
		    <th>Excerpt</th>
		    <th>Body</th>
		    <th>Published at</th>
		    <th></th>
		  </tr>

			<% @posts.each do |post| %>
			  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
			    <td><%= post.title %></td>
			    <td class="list_description"><%= truncate(strip_tags(post.excerpt), :length => 70) %></td>
			    <td class="list_description"><%= truncate(strip_tags(post.body), :length => 70) %></td>
			    <td><%= post.published_at %></td>
			    <td class="list_actions"><%= link_to 'Show', post %><br>
			    <%= link_to 'Edit', edit_post_path(post) %><br>
			    <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
			  </tr>
			<% end %>
		</table>
	<% end %>
</div>
<%= link_to 'New Post', new_post_path %>
